<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center fs-6">
  <p>Email: <%= session[:portfolio_admin_user_email] %> | Password: <%= session[:portfolio_admin_user_password] %> </p>
  <br>
  <br>
  <%= link_to "Sign In ", new_user_session_path, class: "btn" %>
</div>