<header>
    <a href="#" class="logo"><img src="https://i.imgur.com/e75G7zQ.png"></a>

    <ul class="navbar">
        <li><a href="<%= root_path %>" class="active">Home</a></li>
        <li><a href="#">Shop</a></li>
        <% if user_signed_in? %>
        <li><a href="#">Create Product</a></li>
        <% end %>
        <% if current_user.admin? %>
          <li><a href="<%= activity_logs_path %>" class="active">Admin Log</a></li>
        <% end %>
    </ul>

    <div class="icons">
      <a href=" <%= user_home_path(current_user) %>"><i class="bi bi-person"></i></a>
      <a href="<%= cart_path(current_user.cart) %>"><i class="bi bi-cart"></i></a>
      <div class="bi bi-list" id="menu-icon"></div>
    </div>
</header>