<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <p class="text-start mr-4 fw-bold fs-2">Somos um Ecommerce para alavancar sua loja física</p>
  <br>
  <p class="text-start mr-4 fs-4">Projeto simples de um ecommerce multi-usuário.</p>
  <p class="text-start mr-4 fs-6">Usando Bootstrap 5.3X, JS, e a gem devise</p>