<br>
<br>
<br>
<br>
<div class="text-center fs-6">
  <% if user_signed_in? %>
    <%= link_to "Edit", edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
  <% else %>
    <%= render 'devise/sessions/new' %>
  <% end %>
</div>