* {
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
}

.text-custom-add {
    color: #202020
}

.text-custom-add1 {
    color: #979797
}

.custom-margin-left {
    margin-left: 20px;
}

.custom-margin-left-2 {
    margin-left: 30px;
}

/* product.index */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: transparent;
    max-width: 200px;
    float: left;
    clear: none;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.product-left {
    float: left;
    clear: left;
}

.product-name {
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.product-name:hover {
    text-decoration: underline;
}

.product-info {
    font-size: 18px;
    color: #666;
}

.product-description {
    font-size: 16px;
    color: #444
}

/* show.html.erb product */

.info-product-container {
    background: #fff;
    position: absolute;
    top: 24%; /* Ajuste conforme necessário */
    right: 2%; /* Ajuste conforme necessário */
    flex-direction: column;
    color: #000;
    padding: 20px;
    width: 30%; /* Ajuste conforme necessário */
    max-width: 500px;
    height: auto;
    border: 1px solid #ffe;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    @media screen and (max-width: 600px) {
        right: 0;
        width: 100%;
        max-width: none;
    }
}

.product-description-show {
    background: transparent;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;

    @media screen and (max-width: 600px) {
        top: 70%;
        width: 100%;
    }

    position: absolute;
    top: 0;
    left: 0;
}


.container-show {
    display: flex;
    border: 1px solid #ccc; /* destacar p ver */
    padding: 200px;
    box-sizing: border-box;
    position: relative;
}

.container-show p {
    margin: 0;
    padding: 0;
}

.details-container {
    margin-top: 20px;
}

.details-header {
    text-align: center;
}

.details-header strong {
    font-weight: bold;
}

.details-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.details-content p {
    line-height: 1.5;
    font-size: 1.25rem;
}

.details-content strong {
    font-weight: bold;
}

/* _cart_table.html.erb */

.button-container {
    background: transparent;
    top: 120px;
    right: 60px;
    position: absolute;
    flex-direction: column;
    color: #fff;
    padding: 20px;
    width: 250px;
    height: 250px;
    border: 1px solid  #fff;
    border-radius: 5px;
    float: right;
    display: flex;
}

.custom-text {
    text-align: justify;
    color: #333
}

/* box-add_cart */
.button-container {
    background: #fff;
    top: 120px;
    right: 60px;
    position: absolute;
    flex-direction: column;
    color: #fff;
    padding: 20px;
    width: 250px;
    height: 250px;
    border: 1px solid  #fff;
    border-radius: 5px;
    float: right;
    display: flex;
}

/* buttons of _Cart_table.html.erb */

.button1 {
    text-align: center;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    margin: 5px 10px;
    border: 2px solid rgba(30, 30, 30, 30);
    border-radius: 5px;
    background: transparent;
}

.button1:hover {
    color: #1e1e1e;
    cursor: pointer;
    box-shadow: 0 0 3px #1e1e1e;
}

.button2 {
    text-align: center;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    margin: 5px 10px;
    border: 2px solid rgba(30, 30, 30, 30);
    border-radius: 5px;
    background: transparent;
}

.button2:hover {
    color: #1e1e1e;
    cursor: pointer;
    box-shadow: 0 0 3px #1e1e1e
}

.container .button1 {
    margin-top: 40px;
}

.container .button2 {
    margin-top: 40px;
}

.floating-box p {
    margin: 0px;
}